---
import GithubIcon from "../components/icons/GithubIcon.astro";
import AvatarIcon from "../components/icons/AvatarIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const projects = [
	{
		img: "/image 1.png",
		href: "https://curus.org",
		title: "Curus",
		details:
			"Durante la preparatoria, llevamos a cabo un proyecto que consistió en la creación de una página para simular y demostrar nuestro prototipo para un concurso a nivel estatal.",
	},
	{
		img: "/image_2.png",
		href: "https://avatars-dev.vercel.app/",
		title: "Avatars.Dev",
		details:
			"Es una pagina en la que se generan avatars aleatorios apartir de una API llamada Dicebear.",
	},
	{
		img: "/image_3.png",
		href: "https://franckiescript.vercel.app/",
		title: "Facks",
		details: "Es una plataforma tipo classroom en la cual impartire clases sobre JavaScript.",
	}
];
---

<Layout title="Portafolio Brian Martínez">
	<main>
		<div class="grid place-content-center">
			<article class="max-w-[550px] px-2 sm:px-0">
				<section
					class="flex max-sm:justify-center flex-wrap border-b border-[#2B3F5A] py-10 mt-4"
				>
					<AvatarIcon />
					<div class="ml-6 grid">
						<h1 class="font-bold text-5xl">
							Brian Martinez
							<span class="mt-2 font-normal block text-base opacity-80">
								Desarrollador web Front-End.</span
							>
						</h1>

						<div class="mt-4 flex items-center gap-x-4">
							<a href="https://github.com/Franckcracko" target="_blank">
								<GithubIcon class="w-8 h-8 fill-white" />
							</a>
							<a
								href="https://www.linkedin.com/in/brian-leonardo-martinez-cobos-8a5692229"
								target="_blank"
							>
								<LinkedinIcon class="w-8 h-8" />
							</a>
							<a
								href="/cv.pdf"
								download
								class="flex items-center py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700"
							>
								CV
								<svg
									class="w-4 h-4 icon icon-tabler icon-tabler-file-cv"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="#2c3e50"
									fill="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
									<path
										d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
									></path>
									<path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"
									></path>
									<path d="M13 11l1.5 6l1.5 -6"></path>
								</svg>
							</a>
						</div>
					</div>
				</section>
				<section class="pt-32">
					<h2 class="text-3xl font-semibold mb-4">SOBRE MI</h2>
					<p class="text-base md:text-xl opacity-80 font-normal">
						<span class="block"
							>Tengo 2 años de experiencia como desarrollador Front-End.</span
						>
						 Soy capaz de trabajar de manera efectiva en equipo, incorporando
						con éxito nuevas tecnologías en mi stack. Estoy constantemente
						abierto a recibir feedback constructivo, ya que creo en la
						importancia de la mejora continua.
					</p>
				</section>
				<section class="pt-32">
					<h2 class="text-3xl font-semibold mb-4">Proyectos</h2>
					<div class="flex px-4 sm:px-0 gap-y-6 flex-col items-center">
						{
							projects.map((project) => (
								<Card
									img={project.img}
									href={project.href}
									title={project.title}
									details={project.details}
								/>
							))
						}
					</div>
				</section>
			</article>
		</div>

		<footer
			class="mt-20 bg-[#293342] w-full h-[100px] grid place-content-center"
		>
			<span>Copyright © 2023 - Brian Martinez</span>
		</footer>
	</main>
</Layout>
