---
import { AvatarIcon } from "../components/react/AvatarIcon.jsx";
import { GithubIcon } from "../components/react/GithubIcon.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="grid place-content-center">
			<article class="max-w-[550px] px-2 sm:px-0">
				<section
					class="flex max-sm:justify-center flex-wrap border-b border-[#2B3F5A] py-10 mt-4"
				>
					<AvatarIcon />
					<div class="ml-6 grid">
						<h1 class="font-bold text-5xl">
							Brian Martinez
							<span class="mt-2 font-normal block text-base opacity-80">
								Desarrollador web Front-End.</span
							>
						</h1>

						<div class="mt-4 flex gap-x-4">
							<a href="#">
								<GithubIcon />
							</a>
							<a href="#">
								<img
									src="/linkedin.svg"
									class="w-[24px] h-[24px]"
									alt="icono likedin"
								/>
							</a>
							<button
								class="transition-colors font-semibold border rounded shadow px-10 h-[24pxs] border-[#F3F4F6] hover:bg-[#F3F4F6] hover:text-[#3e516d]"
							>
								CV
							</button>
						</div>
					</div>
				</section>
				<section class="pt-32">
					<h2 class="text-3xl font-semibold mb-4">SOBRE MI</h2>
					<p class="text-base md:text-xl opacity-80 font-normal">
						<span class="block"
							>Tengo 2 años de experiencia como desarrollador Front-End.</span
						>
						 Soy capaz de trabajar de manera efectiva en equipo, incorporando
						con éxito nuevas tecnologías en mi stack. Estoy constantemente
						abierto a recibir feedback constructivo, ya que creo en la
						importancia de la mejora continua.
					</p>
				</section>
				<section class="pt-32">
					<h2 class="text-3xl font-semibold mb-4">Proyectos</h2>
					<div class="flex px-4 sm:px-0 gap-y-6 flex-col items-center">
						<div class="flex-col w-full sm:w-[400px]">
							<figure class="flex-1 p-3 w-full h-auto bg-[#293342] rounded shadow">
								<a class="hover:brightness-100 brightness-75 transition-all " href="#">
									<img class="object-cover hover:scale-[1.01] w-full transition-transform" src="/image 1.png" alt="Imagen Proyecto" />
								</a>
							</figure>
							<div class="mt-2 flex">
								<a href="#" class="underline"> Titulo</a>
								<button class="ml-3">
									<svg
										fill="#F3F4F6"
										width={16}
										height={16}
										viewBox="0 0 284.929 284.929"
										style="enable-background:new 0 0 284.929 284.929;"
									>
										<g>
											<path
												d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441
							 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082
							 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647
							 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"
											></path>
										</g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
										<g> </g>
									</svg>
								</button>
								<div class="ml-6 flex-1">
									Stack Tecnologias
								</div>
							</div>
						</div>
					</div>
				</section>
			</article>
		</div>

		<footer
			class="mt-20 bg-[#293342] w-full h-[100px] grid place-content-center"
		>
			<span>Copyright © 2023 - Brian Martinez</span>
		</footer>
	</main>
</Layout>
