<article class="h-[calc(100vh-100px)]">
  <h2 class="mb-4 text-4xl font-bold text-gradient">Sobre Mi</h2>
  <p class="text-lg ">
    Soy estudiante en Ing. en Tecnologías de la Información  y soy desarrollador Full Stack.
  </p>
  <p class="text-lg">
    Mi objetivo es crear soluciones de software eficientes y fáciles de usar que satisfagan las necesidades del usuario.
  </p>
</article>
